/*
 * IONOS Cloud - Object Storage Management API
 * Object Storage Management API is a RESTful API that manages the object storage service configuration for IONOS Cloud. 
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.ionoscloud.objectstoragemanagement.api;

import com.ionoscloud.objectstoragemanagement.ApiCallback;
import com.ionoscloud.objectstoragemanagement.ApiClient;
import com.ionoscloud.objectstoragemanagement.ApiException;
import com.ionoscloud.objectstoragemanagement.ApiResponse;
import com.ionoscloud.objectstoragemanagement.Configuration;
import com.ionoscloud.objectstoragemanagement.Pair;
import com.ionoscloud.objectstoragemanagement.ProgressRequestBody;
import com.ionoscloud.objectstoragemanagement.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.ionoscloud.objectstoragemanagement.model.Error;
import com.ionoscloud.objectstoragemanagement.model.RegionRead;
import com.ionoscloud.objectstoragemanagement.model.RegionReadList;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class RegionsApi {
    private ApiClient localVarApiClient;

    public RegionsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public RegionsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for regionsFindByRegion
     * @param region The Region of the Region. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Getting Region was successful. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ### Bad Request The request send to the API was malformed.  </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ### Unauthorized The request is missing authorization information or the authorization information provided are expired.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ### Not Allowed The user issuing the request does not have the needed permissions.  </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> ### Not Found The resource that was requested could not be found.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> ### Too Many Requests The user has sent too many requests in a given amount of time.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ### Internal Server Error An internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
        <tr><td> 503 </td><td> ### Service Unavailable The server is currently unable to handle the request due to a temporary overloading or maintenance of the server.  </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> ### Unexpected Internal Server Error An unexpected internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call regionsFindByRegionCall(String region, final ApiCallback<RegionRead> _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/regions/{region}"
            .replaceAll("\\{" + "region" + "\\}", localVarApiClient.escapeString(region.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call regionsFindByRegionValidateBeforeCall(String region, final ApiCallback<RegionRead> _callback) throws ApiException {
        
        // verify the required parameter 'region' is set
        if (region == null) {
            throw new ApiException("Missing the required parameter 'region' when calling regionsFindByRegion(Async)");
        }
        

        okhttp3.Call localVarCall = regionsFindByRegionCall(region, _callback);
        return localVarCall;

    }

    /**
     * Retrieve Region
     * Returns the Region by Region.
     * @param region The Region of the Region. (required)
     * @return RegionRead
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Getting Region was successful. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ### Bad Request The request send to the API was malformed.  </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ### Unauthorized The request is missing authorization information or the authorization information provided are expired.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ### Not Allowed The user issuing the request does not have the needed permissions.  </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> ### Not Found The resource that was requested could not be found.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> ### Too Many Requests The user has sent too many requests in a given amount of time.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ### Internal Server Error An internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
        <tr><td> 503 </td><td> ### Service Unavailable The server is currently unable to handle the request due to a temporary overloading or maintenance of the server.  </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> ### Unexpected Internal Server Error An unexpected internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
     </table>
     */
    public RegionRead regionsFindByRegion(String region) throws ApiException {
        ApiResponse<RegionRead> localVarResp = regionsFindByRegionWithHttpInfo(region);
        return localVarResp.getData();
    }

    /**
     * Retrieve Region
     * Returns the Region by Region.
     * @param region The Region of the Region. (required)
     * @return ApiResponse&lt;RegionRead&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Getting Region was successful. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ### Bad Request The request send to the API was malformed.  </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ### Unauthorized The request is missing authorization information or the authorization information provided are expired.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ### Not Allowed The user issuing the request does not have the needed permissions.  </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> ### Not Found The resource that was requested could not be found.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> ### Too Many Requests The user has sent too many requests in a given amount of time.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ### Internal Server Error An internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
        <tr><td> 503 </td><td> ### Service Unavailable The server is currently unable to handle the request due to a temporary overloading or maintenance of the server.  </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> ### Unexpected Internal Server Error An unexpected internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<RegionRead> regionsFindByRegionWithHttpInfo(String region) throws ApiException {
        okhttp3.Call localVarCall = regionsFindByRegionValidateBeforeCall(region, null);
        Type localVarReturnType = new TypeToken<RegionRead>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Retrieve Region (asynchronously)
     * Returns the Region by Region.
     * @param region The Region of the Region. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Getting Region was successful. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ### Bad Request The request send to the API was malformed.  </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ### Unauthorized The request is missing authorization information or the authorization information provided are expired.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ### Not Allowed The user issuing the request does not have the needed permissions.  </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> ### Not Found The resource that was requested could not be found.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> ### Too Many Requests The user has sent too many requests in a given amount of time.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ### Internal Server Error An internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
        <tr><td> 503 </td><td> ### Service Unavailable The server is currently unable to handle the request due to a temporary overloading or maintenance of the server.  </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> ### Unexpected Internal Server Error An unexpected internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call regionsFindByRegionAsync(String region, final ApiCallback<RegionRead> _callback) throws ApiException {

        okhttp3.Call localVarCall = regionsFindByRegionValidateBeforeCall(region, _callback);
        Type localVarReturnType = new TypeToken<RegionRead>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for regionsGet
     * @param offset The first element (of the total list of elements) to include in the response. Use together with limit for pagination. (optional, default to 0)
     * @param limit The maximum number of elements to return. Use together with offset for pagination. (optional, default to 100)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returned all requested Regions successfully.  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ### Bad Request The request send to the API was malformed.  </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ### Unauthorized The request is missing authorization information or the authorization information provided are expired.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ### Not Allowed The user issuing the request does not have the needed permissions.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> ### Too Many Requests The user has sent too many requests in a given amount of time.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ### Internal Server Error An internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
        <tr><td> 503 </td><td> ### Service Unavailable The server is currently unable to handle the request due to a temporary overloading or maintenance of the server.  </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> ### Unexpected Internal Server Error An unexpected internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call regionsGetCall(Integer offset, Integer limit, final ApiCallback<RegionReadList> _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/regions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call regionsGetValidateBeforeCall(Integer offset, Integer limit, final ApiCallback<RegionReadList> _callback) throws ApiException {
        

        okhttp3.Call localVarCall = regionsGetCall(offset, limit, _callback);
        return localVarCall;

    }

    /**
     * Retrieve all Regions
     * This endpoint enables retrieving all Regions using pagination and optional filters. 
     * @param offset The first element (of the total list of elements) to include in the response. Use together with limit for pagination. (optional, default to 0)
     * @param limit The maximum number of elements to return. Use together with offset for pagination. (optional, default to 100)
     * @return RegionReadList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returned all requested Regions successfully.  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ### Bad Request The request send to the API was malformed.  </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ### Unauthorized The request is missing authorization information or the authorization information provided are expired.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ### Not Allowed The user issuing the request does not have the needed permissions.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> ### Too Many Requests The user has sent too many requests in a given amount of time.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ### Internal Server Error An internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
        <tr><td> 503 </td><td> ### Service Unavailable The server is currently unable to handle the request due to a temporary overloading or maintenance of the server.  </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> ### Unexpected Internal Server Error An unexpected internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
     </table>
     */
    public RegionReadList regionsGet(Integer offset, Integer limit) throws ApiException {
        ApiResponse<RegionReadList> localVarResp = regionsGetWithHttpInfo(offset, limit);
        return localVarResp.getData();
    }

    /**
     * Retrieve all Regions
     * This endpoint enables retrieving all Regions using pagination and optional filters. 
     * @param offset The first element (of the total list of elements) to include in the response. Use together with limit for pagination. (optional, default to 0)
     * @param limit The maximum number of elements to return. Use together with offset for pagination. (optional, default to 100)
     * @return ApiResponse&lt;RegionReadList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returned all requested Regions successfully.  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ### Bad Request The request send to the API was malformed.  </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ### Unauthorized The request is missing authorization information or the authorization information provided are expired.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ### Not Allowed The user issuing the request does not have the needed permissions.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> ### Too Many Requests The user has sent too many requests in a given amount of time.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ### Internal Server Error An internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
        <tr><td> 503 </td><td> ### Service Unavailable The server is currently unable to handle the request due to a temporary overloading or maintenance of the server.  </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> ### Unexpected Internal Server Error An unexpected internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<RegionReadList> regionsGetWithHttpInfo(Integer offset, Integer limit) throws ApiException {
        okhttp3.Call localVarCall = regionsGetValidateBeforeCall(offset, limit, null);
        Type localVarReturnType = new TypeToken<RegionReadList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Retrieve all Regions (asynchronously)
     * This endpoint enables retrieving all Regions using pagination and optional filters. 
     * @param offset The first element (of the total list of elements) to include in the response. Use together with limit for pagination. (optional, default to 0)
     * @param limit The maximum number of elements to return. Use together with offset for pagination. (optional, default to 100)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returned all requested Regions successfully.  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ### Bad Request The request send to the API was malformed.  </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ### Unauthorized The request is missing authorization information or the authorization information provided are expired.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ### Not Allowed The user issuing the request does not have the needed permissions.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> ### Too Many Requests The user has sent too many requests in a given amount of time.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ### Internal Server Error An internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
        <tr><td> 503 </td><td> ### Service Unavailable The server is currently unable to handle the request due to a temporary overloading or maintenance of the server.  </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> ### Unexpected Internal Server Error An unexpected internal error occurred. We apologize for the inconvenience!  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call regionsGetAsync(Integer offset, Integer limit, final ApiCallback<RegionReadList> _callback) throws ApiException {

        okhttp3.Call localVarCall = regionsGetValidateBeforeCall(offset, limit, _callback);
        Type localVarReturnType = new TypeToken<RegionReadList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
